body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url("/images/fitness_female_body-wallpaper-1366x768.jpg");
    color: #C0C0C0;
    font-family: Tohoma;
    font-size: 16px;
}

h1,p{
    margin: 1em auto 0 20px;
    text-align: left;
}
label{
    display: block;
    margin-left: 20px;
    margin-top: 5px;
}

form{
    width:60vm;
    max-width: 500px;
    min-width: 300px;
    margin: 0;
    padding-bottom: 2em;
}
input, textarea, select {
    margin: 10px 0 ;
    width: 70%;
}
input, textarea{
    background: transparent;
    color: white;
}

.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    
}

input[type="submit"]{
    display: block;
    width: 80%;
    margin: 1em auto 0 0;
    height: 2em;
    font-size: 1.1em;
    background: transparent;
    border-color: 	#C0C0C0;
    min-width: 300px;
}
 input[type="file"]{
    padding: 1px 2px;
 }
 .inline{
    display: inline;
 }

 #dropdown{
    background: transparent;
    color: #C0C0C0;
 }
/* 

input[type="text"]{
    background-color: black;
}


label, form{
    display: block;
    text-align: center;
    margin-right:50%;
}
input[type="checkbox"]{
    margin : 1em 0.5em 1em 0em;
    text-align: center;
}
timing{
    display: inline-block;
} */